.THIS {
  background-color: red !important;
}
.THIS .green{
  color:green;
  font-size: 15px;

}
.THIS .yellow{
  color:yellow;
  font-size: 20px;

}
.THIS .blue{
  color:blue;
  background-color: white;
  font-size: 25px;

}